body {
  margin: 0;
  font-family: sans-serif;
  background: #f5f9f7;
  color: #2b2b2b;
}

.grid {
  display: grid;
  gap: 30px;
  padding: 40px;
  max-width: 1000px;
  margin: auto;
}

.card {
  background: white;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}


.card img {
  width: 100%;
  max-width: 200px;
  border-radius: 8px;
  margin-bottom: 15px;
}

.card h2 {
  color: #347a48;
  margin-bottom: 10px;
}

.card p {
  font-size: 0.95em;
  color: #444;
}

footer {
  background: #ddeee0;
  text-align: center;
  padding: 20px;
  font-size: 0.9em;
  color: #333;
  border-top: 1px solid #bbb;
}
